EARLY_READER_INVITE_SECRET=
EARLY_READER_TOOL_ENABLED=false
EARLY_READER_BASE_URL=
EARLY_READER_PRODUCTION_INVITE_SECRET=
EARLY_READER_PRODUCTION_BASE_URL=
READER_INTELLIGENCE_ACCESS_SECRET=
BLOB_READ_WRITE_TOKEN=
READER_ROOM_SIGNING_SECRET=
READER_ROOM_BOOK_VERSION=draft-3
READER_ROOM_PUBLIC_BASE_URL=https://readers.whatcoffeedemands.com
